<html>
    <title>aiohttp web service</title>
    <body>
        <div style="position:absolute;left:35%;">
            <h3 style=color:red>Welcom to test web</h3>
            <p>this web sever is based on async web framework <strong>aiohttp</strong></p>
            <p>there are three http interfaces here:</p>
            <p>1. url: http://127.0.0.1:10086/createuser/</p>
            <p>Method: POST</p>
            <p>Data:{"fname": "fname", "lname":"lname"}</p>
            <p>2. url: http://127.0.0.1:10086/getalluser/ Method: GET</p>
            <p>Method: GET</p>
            <p>3. url: http://127.0.0.1:10086/getuser/{name}/</p>  
            <p>Method: GET</p>
            <p>url paras: name</p>
            </br>
            <strong><p id="wstext">blank</p></strong>
            <strong><p id="wsstatus">connection close</p></strong>
        </div>
    </body>
    <script lang="javascript">
        var ws = new WebSocket("ws://localhost:10086/test");
        ws.onopen = function(evt){
            ws.send("websocket connection establish!");
            document.getElementById("wsstatus").innerText = "connection established!";
        };
        ws.onmessage = function(evt){
            document.getElementById("wstext").innerText = evt.data;
            // ws.close();
        };
        ws.onclose = function(evt){
            document.getElementById("wsstatus").innerText = "connection close";
            ws.close();
        };
    </script>
</html>